<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Petocare</title>
  {% block extra_head %}{% endblock %}
  {% load static %}
  <link rel="shortcut icon" href="{% static 'image/logo2.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/master.css' %}">



</head>

<body class="home">
  <section class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{%static 'image/logo.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <a href="{% url 'signup' %}"> <button class="btn">Sign Up </button> </a>
            <a href="{% url 'login' %}"> <button class="btn">Log in</button> </a>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  {% block content %}
  {% endblock %}
  <footer class="w-100 py-4 flex-shrink-0" , style="margin-bottom:0">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
        <div class="col-lg-4 col-md-6">
          <img src="{% static 'image/logo-blue.png' %}" alt="" , style="max-height:100px">
          <p>PetoCare is a web application that can be used by pet parents(users) to appoint
            medical, grooming, and training services for taking care of their pets.</p>
          <p>&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">PetoCare</a></p>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Other Profiles</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="{% url 'vet_login' %}">Log in as a Veterinarian</a></li>
            <li><a href="{% url 'vet_register' %}">Join as a Veterinarian</a></li>
            <li><a href="{% url 'trainer_login' %}">Log in as a Trainer/Groomer</a></li>
            <li><a href="{% url 'trainer_register' %}">Join as a Trainer/Groomer</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Quick links</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5 class="text-white mb-3">Newsletter</h5>
          <p>For more information from our side please register your email id for newsletter.</p>
          <form action="#">
            <div class="input-group mb-3">
              <input class="form-control" type="text" placeholder="Recipient's username"
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-primary" id="button-addon2" style="margin:0" type="button"><i
                  class="fas fa-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>