{% extends 'main_app/base.html' %}
{% load static %}
{% block extra_head %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}
{% block content %}
<div id="srvs">
    <section id="slider" class="pt-5">
        <div class="container">
            <h1 class="text-center"><b>Our Services</b></h1>
            <div class="slider">
                <div class="owl-carousel">
                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img src="{%static 'image/VetBooking.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-0 text-center"><b>Vet Booking</b></h5>
                        <p class="text-center p-4">Thank you for choosing PetoCare to take care of your loved one.</p>
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <a href=""> <button class="btn">Book Now</button> </a>
                        </div>
                        
                    </div>
                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img src="{%static 'image/GroomingBooking.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-0 text-center"><b>Grooming Booking</b></h5>
                        <p class="text-center p-4">Thank you for choosing PetoCare to take care of your loved one.</p>
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <a href=""> <button class="btn">Book Now</button> </a>
                        </div>
                    </div>
                    <div class="slider-card">
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <img src="{%static 'image/TrainingBooking.jpg' %}" alt="">
                        </div>
                        <h5 class="mb-0 text-center"><b>Training Booking</b></h5>
                        <p class="text-center p-4">Thank you for choosing PetoCare to take care of your loved one.</p>
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <a href=""> <button class="btn">Book Now</button> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/about.js' %}"></script>
</div>
{% endblock %}