{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}

<div id="srvs">
   




    
    <div class="container mt-3 mb-3">
        <div class="text-center mt-5">
            <h1>Our Services</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card p-3 text-center">
                    <div class="d-flex justify-content-center"> <span class="circle circle1"><i class="fa fa-chrome fa-2x"></i></span> </div>
                    <div class="mt-3 text-center">
                        <h1 class="font-weight-bolder text-truncate">Doctor's Appointment</h1> <span class=" text mt-2 font-weight-bolder">0 wait time</span>
                        <div class="text-center mt-2"> <span class="about">That's right- now you can<br> search and bookfor vet appointments<br> right at at convineance of your home. <br> <br> <br> <span class="learnmore1">Learn More</span> </span> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card p-3 text-center">
                    <div class="d-flex justify-content-center"> <span class="circle2 circle"><i class="fa fa-chrome fa-2x"></i></span> </div>
                    <div class="mt-3 text-center">
                        <h1 class="font-weight-bolder text-truncate">Groomer Booking</h1> <span class=" text mt-2 font-weight-bolder">The best round town</span>
                        <div class="text-center mt-2"> <span class="about">Thanks to our team.<br>We're offering grooming right to your and pet's convineance. <br> <br> <br> <span class="learnmore2">Learn More</span> </span> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card p-3 text-center">
                    <div class="d-flex justify-content-center"> <span class="circle3 circle"><i class="fa fa-chrome fa-2x"></i></span> </div>
                    <div class="mt-3 text-center">
                        <h1 class="font-weight-bolder text-truncate">Best of Both worlds</h1> <span class=" text mt-2 font-weight-bolder">Solution to every pet parents problem</span>
                        <div class="text-center mt-2"> <span class="about">That's right- they specialize in both<br> grooming as well as treating your pets<br>  with the best of their knowledge. <br> <br> <br> <span class="learnmore3">Learn More</span> </span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>












    
    
    
    
    
    
    
    


   
    
    
    
    
    
    
    
    
    
    
    


    





    
    
    
    
    
    
    
    
    <div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
        <div class="hd">Why People Believe in Us</div>
        <p><small class="text-muted">Always render more and better service than <br />is expected of you, no matter what your ask may be.</small></p>
        <div class="row" style="justify-content: center">
            <div class="card col-md-3 col-12">
                <div class="card-content">
                    <div class="card-body"> <img class="img" src="https://i.imgur.com/S7FJza5.png" />
                        <div class="shadow"></div>
                        <div class="card-title"> We're Free </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted">We spent thousands of hours creating on algorithm that does this for you in seconds. We collect a small fee from the professional after they meet your</small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 col-12 ml-2">
                <div class="card-content">
                    <div class="card-body"> <img class="img" src="https://i.imgur.com/xUWJuHB.png" />
                        <div class="card-title"> We're Unbiased </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> We don't accept ads from anyone. We use actual data to match you who the best person for each job </small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 col-12 ml-2">
                <div class="card-content">
                    <div class="card-body"> <img class="img rck" src="https://i.imgur.com/rG3CGn3.png" />
                        <div class="card-title"> We Guide you </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted">Buying or selling a home is often the largest transaction anyone does in their life. we guide you through the process so that you can be confident in reaching your dream outcome.</small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ft">
            <p class="chk"><small class="text-muted">Still not sure?</small></p>
            <div class="btn btn-primary">Read All Testimonials</div>
        </div>
    </div>
    
    
    

       
    
</div>
{% endblock %}