.navbar-brand>img{
    max-height: 50px;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    width:100%;
    background-image: linear-gradient(to right , #0000ff , #ff0000 )!important;

}
.header .btn{
    background-color:blue;
    margin-right: 10px;
    font-weight: 600;
    color:white;
    margin-bottom: 5px;
}
.header .btn a{
    color: white;
    text-decoration: none ;
}
.header .btn a:visited{
    color: white;
    text-decoration: none ;
}
.header .nav-item a{
    color: white !important;
    font-weight: 500;  
}
.header a:hover{
    color:red !important;
}


.header .btn:hover{
    background-color: white;
    color:red;
}
.header .btn .a{
    text-decoration: none;
}
footer{
    font-size: 15px;
    background-image: linear-gradient(to right , #ff0000 , #0011ff);
    margin-top: auto;
}
footer a:link {
    text-decoration: none;
    color:white !important;
}
      
footer a:visited {
    text-decoration: none;
}
      
footer a:hover {
    text-decoration: none;
    color:rgb(255, 0, 0);
}
      
footer  a:active {
    text-decoration: none;
}
footer p{
    color: white !important;
}
#idx p{
    color: #ff0000;
}